<div id="index" class="container">
    <section class="start">
    haa
    </section>

    <footer>
        <p>
            We don't save any of your files. You can check or contribute <a target="_blank" href="https://github.com/dlacreme/co_code">here</a>
        </p>
    </footer>
</div>